#nextGame
{
    text-align: center;
    background-color: #222;
    color: #FFF;
    font-weight: 300;
    font-size: 14px;
    padding:4px 0px;

}

#groupName
{
    margin-bottom: 0px;
}

.line
{
     border: 1px solid gainsboro;
     margin-top: 0px !important;
}

.points
{
    border-left: 1px solid gainsboro;

}

/* Navigation element dark */
a.item {
    background-color: #222;
    color: white;
    border-width: 0px;
}

/* Navigation text indent to icon */
a > i {
    margin-right: 15px;
}

/* Navigation item hover effect */
a.item:hover {
    background-color: #000;
    color: white;
    border-width: 0px;
}

/* Navigation background dark */
.menu-left > .scroll-content
{
    background-color: #222;
}

.scroll-content 
{
    background-color: #FAFAFA;
}