.seperator
{
    text-align: center;
    /*background-color: #333;*/
    color: #333;
    font-weight: 300;
    font-size: 14px;
    padding:4px 0px;
    margin-top: 20px;

}

#groupName
{
    margin-bottom: 0px;
}

.line
{
     border: 1px solid gainsboro;
     margin-top: 0px !important;
}

.points
{
    border-left: 1px solid gainsboro;

}

/* Navigation element dark */
a.item {
    background-color: #222;
    color: white;
    border-width: 0px;
}

/* Navigation text indent to icon */
a > i {
    margin-right: 15px;
}

/* Navigation item hover effect */
a.item:hover {
    background-color: #000;
    color: white;
    border-width: 0px;
}

/* Navigation background dark */
.menu-left > .scroll-content
{
    background-color: #222;
}

/* light grey background color */
.scroll-content 
{
    background-color: #FAFAFA;
}

/* shrink game overview cards to 40px height */
.tabs 
{
    height: 40px;
    line-height: 40px;
}

/* adapted icons for smaller cards - fix that -> no important declaration */
.smallIcon::before {
    line-height:40px !important;
    font-size: 24px !important;
}

.smallIcon {
    line-height:40px !important;
    font-size: 16px !important;
}

/* IOS background color fix - unfortunately doesn't work */
.darkBackground {
    background-color: #222;
}

/* Intro style settings -
    but seriously where are this classes within the markup?!
 */

.intro_nav_bar {
    color: green;
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.logo {
  margin: 10px 0px;
  width: 100px;
}

.start
{
    margin-top: 200px;
}

#list {
  width: 270px;
  margin: 20px auto;
  font-size: 17px;
}
#list ol {
  margin-top: 30px;
}
#list td {
  text-align: left;
  list-style: decimal;
  padding: 5px 10px;
}

.inital_screen_bg {
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(
   center, 
   circle farthest-corner, 
   #BCF5A9 0%, 
   #01DF01 100%
  );
}

.logo_init {
  width: 150px;
}

.logo_container {
  margin: 0 auto;
  width: 150px;
  height:100%;
  padding-top: 150px;
}




