

    <ion-view hide-back-button="true" >
        <!-- Nav bar -->
        <ion-nav-bar class="nav-title-slide-ios7 bar-light intro_nav_bar">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
        </ion-nav-bar>


        <ion-nav-buttons side="left">
            <button class="button button-balanced button-clear no-animation" ng-click="previous()" ng-if="slideIndex > 0">
                Previous Slide
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-balanced button-clear no-animation" ng-click="next()" ng-if="slideIndex != 2">
                Next
            </button>
            <button class="button button-balanced button-clear no-animation" ng-click="startApp()" ng-if="slideIndex == 2">
                Start using MyApp
            </button>
        </ion-nav-buttons>

        <ion-slide-box on-slide-changed="slideChanged(index)">

            <!-- Slide 1 -->
            <ion-slide>
                <h3>Thank you for choosing Sambet!</h3>

                <img src="../img/logo.png" class="logo">

                <p>
                    We hope you&#x27;ll have fun with our app!
                </p>
                <p>By the way ... </p>
                <p>
                    - You&#x27;re awesome! -
                </p>
            </ion-slide>

            <!-- Slide 2 -->
            <ion-slide>

                <img src="../img/logo.png" class="logo">

                <h3>The rules are as simple as</h3>

                <div id="list">
                    <h5></h5>
                    <table>
                        <tr><td>Correct tip</td><td>3 Points</td></tr>
                        <tr><td>Correct goal difference</td><td>2 Points</td></tr>
                        <tr><td>Correct tendency</td><td>1 Point</td></tr>
                    </table>
                </div>
            </ion-slide>

            <!-- Slide 3 -->
            <ion-slide >
                <h3>Set a username and get started!</h3>
                <div class="list" padding="true">

                    <label class="item ">
                        <input type="text" placeholder="New username" ng-model="data.new_username">
                    </label>
                    <button class="item button button-light button-balanced button-block" ng-click="startApp()">Get started</button>

                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-view>
